
<% unless user_signed_in? %>
  <div class="jumbotron">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  </div>
<% end %>

<div class="row photo-feed-wrapper">
  <div class="col-lg-12 photo-feed">
    <% @photos.each do |photo| %>
      <%= link_to photo do %>
      <%= image_tag(photo.image_url, class: "img-responsive") if photo.image.present? %>
      <div class="photo-info">
        <h4><%= photo.caption %></h4>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
