// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header,
.photo-feed-wrapper,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}
.header {
  padding-bottom: 20px;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 630px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
}
.photo-feed-wrapper {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
  .photo-feed {
    padding: 0;
  }
  .photo-info {
    padding: 10px 0 40px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .photo-feed-wrapper,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .photo-feed-wrapper {
    margin: 0;
    padding: 0;
    .photo-info {
      padding: 10px 15px 40px;
    }
  }
}
